<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>fart</string>
	<string>eat</string>
	<string>cymbal</string>
	<string>pie</string>
	<string>drink</string>
	<string>scratch</string>
	<string>knockout</string>
	<string>stomach</string>
	<string>foot_right</string>
	<string>foot_left</string>
</array>
</plist>
