<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0.jpeg</string>
		<key>title</key>
		<string>说好做美人鱼不劈腿吗？星巴克这是闹哪样？！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>title</key>
		<string>俩孩子的对话。在一旁的我尴尬至极。。他是男孩子还是女孩子啊。。他的头发怎么这么长啊。。是女孩子吧。。。他应该是太长了没剪吧。。半小时后司机说了话。孩子们终于确定了司机的性别。。他说话了。他是男孩子。。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpeg</string>
		<key>title</key>
		<string>自己动手，丰衣足食</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpeg</string>
		<key>title</key>
		<string>理发！停电了！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpeg</string>
		<key>title</key>
		<string>大……大妈，告诉我是谁交你这样系安全带的？？？</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpeg</string>
		<key>title</key>
		<string>这是要成精的节奏啊</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>title</key>
		<string>爸爸，我们两个在这要站多久啊！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>title</key>
		<string>不要以为你们人多就可以欺负我，我很强壮的</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.jpg</string>
		<key>title</key>
		<string>看我七十二变，其实我很善良！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9.jpg</string>
		<key>title</key>
		<string>老大别打我，我真的没有去吹头发，我这是天生的，不是去理发店整的！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10.jpg</string>
		<key>title</key>
		<string>小子，回去多吃几年饭吧，这么点来和我比高。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11.jpg</string>
		<key>title</key>
		<string>心中百思不解，为何世道变了</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>12.jpg</string>
		<key>title</key>
		<string>兄弟，你在那边还好吗？我想念你了！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>13.jpg</string>
		<key>title</key>
		<string>终于从动物园跑出来了，不容易啊。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>14.jpeg</string>
		<key>title</key>
		<string>昨晚有点着凉，这已经是第四次了</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>15.jpeg</string>
		<key>title</key>
		<string>又见自拍神二货</string>
	</dict>
</array>
</plist>
